/*     -----     CARNET DE TRAITEMENT    -----     */

.carnet_traitement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.carnet_traitement_affichage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}