/*     -----     CARNET DE TRANSPORT    -----     */

.carnet_transport {
    padding: 10px 10px 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carnet_transport_pdf {
    margin-top: 20px;
}