/*     -----     ECURIE    -----     */

.ecurie {
    
}

#Ecurie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*     -----     ECURIE DESCRPTION    -----     */

.partie-1 {
    
    background: rgb(207,113,3);
    background: linear-gradient(180deg, rgba(207,113,3,1) 49%, rgba(209,119,13,1) 56%, rgba(255,255,255,1) 98%); 
    display: flex;
}

.gauche-partie-1 {
    
}
