/*     -----     EQUIDES    -----     */

.equides {
    padding: 10px 10px 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#Equides {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Permet d'afficher ou non le formulaire en css */

.tableau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


table.affichageTable {
    border: 5px solid black;
}

table.affichageTable tr th{
    padding: 20px !important;
    width: 30px;
    border: 5px solid black;    
}

table.affichageTable tr td{
    padding: 20px !important;
    width: 30px;
    border: 2px solid black;
    display: flex;
    flex-direction: column  ;
}


#equide_bootstrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equide_bootstrap {
    width: 300px;
    margin: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #9d9d9d; 
    box-shadow: 5px 5px 15px 1px #9d9d9d;
}

.equide_bootstrap img {
    height: 300px;
    object-fit: cover;
}

.equide_bootstrap li.modification {
    transition: 0.5s;
} 


#affichageEquides_info {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    text-align: center;
}

#affichageEquides_info a {
    color: rgba(207, 113, 3, 1);
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    transition: 0.5s;
}

#affichageEquides_info a:hover {
    background-color: rgba(207, 112, 3, 0.304);
    letter-spacing: normal;
}

/*     -----     EQUIDES DESCRIPTION   -----     */

.equide_description {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equide_description a {
    margin-top: 20px;
}

