/*     -----     EQUIDES    -----     */

#Equides, #profil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Equide {
    width: 300px;
    margin: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #9d9d9d; 
    box-shadow: 5px 5px 15px 1px #9d9d9d;
}

.Equide img {
    height: 300px;
    object-fit: cover;
}

.Equide li.modification {
    text-decoration: none;
    text-align: center;
}


.Equide li.modification a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;    
}

.Equide li.modification a:hover {
    letter-spacing: 1px;
}


/* Permet d'afficher ou non le formulaire en css */

#ajoutEquides {
    display: none ;   
}

#ajoutEquides.display {
    padding: 20px;
    display: flex ;
}


h3#ajoutEquideH3:hover{  
    letter-spacing: 1px;
}


/* Croix pour fermer le formulaire */

#formAjoutEquides span {
    position: relative;
    right: -120px;
    top : -20px;
    transition: 0.5;
}

#formAjoutEquides span:hover{
    transform: rotate(180deg);
    transition: 0.5s;    

}

.tableau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


table.affichageTable {
    border: 5px solid black;
}

table.affichageTable tr th{
    padding: 20px !important;
    width: 30px;
    border: 5px solid black;
}

table.affichageTable tr td{
    padding: 20px !important;
    width: 30px;
    border: 2px solid black;
}