/*     -----     HEADER    -----     */

header {
    background-color: rgba(207, 113, 3, 1) ;
}


header ul li a {
    text-decoration: none;
    font-family: 'Asap Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 16px !important;
    letter-spacing: 2px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    font-weight: 600 !important;
    transition: 0.5s !important;
    border-radius: 10px !important;
}

nav a:hover {
    background-color: rgb(255, 255, 255,0.4 ) !important;
    border-radius: 10px !important;
}

#nav_img:hover {
    background-color: rgba(207, 113, 3, 1) !important ;
}

.navbar-toggler {
    background-color: rgba(207, 113, 3, 1) !important ;
}

