@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin:0;
    padding:0;
    
 }

header {
    background-color: rgba(207, 113, 3, 1);
}

header img {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    font-family: 'Asap Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 16px !important;
    letter-spacing: 2px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    font-weight: 600 !important;
    transition: 0.5s !important;
    border-radius: 10px !important;
}

nav a:hover {
    background-color: rgb(255, 255, 255,0.4 ) !important;
    border-radius: 10px !important;
}

#nav_img:hover {
    background-color: rgba(207, 113, 3, 1) !important ;
}

h1,h3 {
    text-transform: uppercase;
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
    width: auto;
}