@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {

    background-color: rgba(207, 113, 3, 1);
}

header img {

    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Asap Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
   
}

nav a{

    font-family: 'Asap Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    font-weight: bold !important;
   
}