/*     -----     STYLES.CSS    -----     */
/*     -----     Ce fichier CSS contient toutes les règles principales CSS de Equides    -----     */

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

.contenu {
    min-height: 100vh;
}


h1,h3 {
    text-transform: uppercase;
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
    width: auto;
}

.titre_1 {
    color: rgba(207, 113, 3, 1);
    font-size: 55px;
}

.boutton_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 109, 31, 1);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: solid 1px transparent;/*Pour que enlever le décalement lorsque on survole*/
    font-weight: 600;
    border-radius: 10px;
    font-size: 24px;
    height: 52px;
    width: 300px;   
    transition: 0.3s;   
}

.boutton_1:hover {
    background-color: rgb(30, 179, 0);
    color: white;
}

/* BOUTTON ORANGE */

.boutton_orange {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 1px transparent;/*Pour que enlever le décalement lorsque on survole*/
    background-color: rgba(207, 113, 3, 1) ;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    font-size: 24px;
    height: 52px;
    width: 270px;
    padding-left: 20px;
    /* padding: 8px 20px 8px 20px; */
    transition: 0.3s;  
}

.boutton_orange img {
    width: 30px;
    margin-right: 25px; 
}

.boutton_orange:hover {
    color: white;
    background-color: rgb(255, 132, 1);
}

.boutton_orangeV2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 1px transparent;/*Pour que enlever le décalement lorsque on survole*/
    background-color: rgba(207, 113, 3, 1);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 20px;
    padding: 8px 20px 8px 20px;
    transition: 0.3s;  
}

.boutton_orangeV2 img {
    width: 30px;
    margin-right: 25px; 
}

.boutton_orangeV2:hover {
    color: white;
    background-color: rgb(255, 132, 1);
}

/* BOUTTON VERT */

.boutton_vert {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 1px transparent;/*Pour que enlever le décalement lorsque on survole*/
    background-color: rgba(0, 109, 31, 1) ;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    font-size: 24px;
    height: 52px;
    width: 270px;
    padding-left: 20px;
    transition: 0.3s;   
}

.boutton_vert img {
    width: 30px;
    margin-right: 25px;
}

.boutton_vert:hover {
    color: white;
    background-color: rgb(30, 179, 0);
}

.boutton_vertV2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 1px transparent;/*Pour que enlever le décalement lorsque on survole*/
    background-color: rgba(0, 109, 31, 1) ;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    font-size: 24px;
    transition: 0.3s; 
    padding: 8px 20px 8px 20px;  
}

.boutton_vertV2 img {
    width: 30px;
    margin-right: 15px;
}

.boutton_vertV2:hover {
    color: white;
    background-color: rgb(30, 179, 0);
}

/* BOUTTON PDF */

.boutton_pdf {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 3px rgba(207, 113, 3, 1);/*Pour que enlever le décalement lorsque on survole*/
    background-color: white;
    color: rgba(207, 113, 3, 1);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    font-size: 24px;
    transition: 0.3s; 
    padding: 8px 20px 8px 20px;  
}

.boutton_pdf img {
    width: 30px;
    margin-right: 15px;
}

.boutton_pdf:hover {
    color: rgba(207, 113, 3, 1);
    background-color: rgba(207, 112, 3, 0.153);
}